.services {
  > .content {
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 0;

    .cols {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: flex-start;

      .col {
        width: 33.33%;
        padding: 3rem;
        padding-bottom: 0;
        text-align: center;

        h4 {
          font-size: 1.25rem;
          color: var(--dark-bg-header);
        }

        p {
          color: var(--dark-bg-text);
        }
      }
    }
  }
}