.section {
  background: var(--light-bg);
  color: var(--light-bg-text);
}

.section--dark {
  background: var(--dark-bg);
  color: var(--dark-bg-text);
}

.title--lg {
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 10rem;
}
.title--sm {
  font-size: 1.25rem;
}

.content {
  max-width: var(--max-width);
  margin: 0 auto;
  padding-bottom: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &--wide {
    max-width: 90%;
  }
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;

  @media screen and (max-width: 960px) {
    flex-direction: column;
    align-items: center;
  }
}

.flex-item {
  flex-grow: 1;
  flex: 33.33%;
  padding: 3rem;
  padding-bottom: 0;
  text-align: center;

  @media screen and (max-width: 960px) {
    padding: 1rem;
    margin-top: 2rem;
  }
}

.reviews-grid {
  margin-top: 4rem;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-items: center;
  gap: 5rem;

  @media screen and (max-width: 960px) {
    display: block;
  }
}

.review-container {
  --avatar-size: 60px;

  max-width: 500px;
  display: grid;
  gap: 1rem;
  grid-template-rows: var(--avatar-size) auto;
  grid-template-columns: var(--avatar-size) auto;
  grid-template-areas:
    'avatar header'
    'content content';

  @media screen and (max-width: 960px) {
    margin-bottom: 3rem;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.avatar {
  &__container {
    grid-area: avatar;
    border-radius: 50%;
    overflow: hidden;
  }

  &__img {
    width: 100%;
  }
}

.review {

  &__header {
    grid-area: header;

    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    font-size: 1.5rem;
    color: var(--light-bg-header);
  }

  &__meta {
    font-size: 0.8rem;
    color: var(--light-bg-text);
  
    display: flex;
    justify-content: space-between;
  }

  &__content {
    grid-area: content;
    margin-top: 0.75rem;
  }
}

.bussiness {
  display: grid;
  grid-template-columns: 7fr 3fr;

  grid-template-areas: 
   'header img';

  justify-content: center;
  align-items: center;
  column-gap: 3rem;

  &:nth-child(1n) { grid-area: header }
  &:nth-child(2n) { grid-area: img }

  @media screen and (max-width: 860px) {
    display: block;
    margin: 0 auto;
    text-align: center;

    .spacer {
      margin: 0 auto;
      transform: translateX(-1.5rem);
    }

    .img-container {
      margin: 0 auto;
    }
  }
}

.img-container {
  --size: min(350px, 80vw);

  grid-area: img;
  // margin-left: 5rem;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 20px 100px rgba(0, 0, 0, 0.2);
}

.img {
  width: 120%;
  transform: translate(-16%, -48%);
}
