:root {
  --dark-bg: #474747;
  --dark-bg-header: #fff;
  --dark-bg-text: #e6e6e6;
  --light-bg: #fff;
  --light-bg-header: #242424;
  --light-bg-text: #808080;
  --accent: #ffdc10;
  --gray-bg: #e4e4e4;
  --max-width: min(960px, 90%);
  scroll-behavior: smooth; }

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

html {
  font-family: 'Monsterat', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }

body {
  background: var(--dark-bg);
  color: var(--dark-bg-text); }

ul {
  list-style: none; }

a {
  text-decoration: none;
  color: var(--accent);
  display: inline-block; }

a :hover {
  border-bottom: 1px solid var(--accent); }

a.block-link {
  color: inherit; }

a.block-link :hover {
  border: none; }

section {
  position: relative;
  padding-top: 5rem;
  padding-bottom: 5rem; }

.icon {
  --size: 2rem;
  width: var(--size);
  height: var(--size);
  fill: var(--accent);
  stroke: none; }

.icon--lg {
  --size: 3rem; }

.bold {
  font-weight: 700; }

.no-break {
  white-space: nowrap; }

.color-accent {
  color: var(--accent); }

.title {
  font-weight: 400;
  margin-top: 1rem;
  margin-bottom: 2rem; }

.form {
  max-width: 100%;
  margin: 0 auto; }

.form-group {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin-bottom: 3rem;
  position: relative;
  border-bottom: 2px solid var(--light-bg-text); }

.form__input {
  z-index: 5;
  padding: 1rem 0;
  color: var(--dark-bg-text);
  background: none;
  width: 100%;
  border: none;
  outline: 0;
  transition: color 0.2s ease; }

.form__input ~ .form__label {
  color: var(--light-bg-text);
  position: absolute;
  z-index: 0;
  transition: transform 0.2s ease;
  transform-origin: left; }

.form__input:focus ~ label, .form__input--not-empty ~ label {
  color: var(--accent);
  transform: translateY(-2rem) scale(0.8); }

.btn {
  border: none;
  background: var(--accent);
  color: var(--dark-bg);
  font-weight: 600;
  padding: 1rem 1.5rem;
  border-radius: 3rem;
  cursor: pointer;
  text-transform: uppercase;
  transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275); }

.btn:hover {
  text-decoration: none; }

.btn:focus {
  outline: 1px dotted rgba(255, 255, 0, 0.4); }

.btn:active {
  transform: scale(0.9); }

.spacer {
  position: relative;
  border-radius: 50%;
  background: var(--accent);
  display: block;
  width: 7px;
  height: 7px; }

.spacer--center {
  margin: 0 auto;
  transform: translateX(-1.5rem); }

.spacer:after, .spacer:before {
  content: ' ';
  display: block;
  position: absolute;
  background: var(--accent);
  border-radius: 50%;
  width: 7px;
  height: 7px; }

.spacer:before {
  left: 3rem; }

.spacer:after {
  left: 1.5rem; }

.nav {
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 100;
  padding: 2rem 1rem 2.25rem;
  background-color: #47474700;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  display: grid;
  grid-template-columns: 100px 1fr 100px;
  grid-template-areas: '. menu lang';
  transition-property: transform, padding, background-color;
  transition-duration: .5s;
  transition-timing-function: ease; }

.nav--sticky {
  position: fixed;
  padding: 0.5rem 1rem 0.75rem;
  background-color: #474747;
  box-shadow: none; }

@media screen and (max-width: 960px) {
  .nav {
    display: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--dark-bg); } }

@media screen and (max-width: 960px) {
  .nav--close {
    transform: translateX(-110%); } }

.hamburger__container {
  padding: 0;
  margin: 0;
  display: block;
  position: fixed;
  z-index: 999;
  cursor: pointer;
  top: 2rem;
  right: 2rem;
  height: auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  transition: transform 0.4s ease;
  cursor: pointer; }

@media screen and (min-width: 960px) {
  .hamburger__container {
    display: none; } }

.hamburger__container--close .hamburger__bar:nth-child(1) {
  transform: rotate(-45deg); }

.hamburger__container--close .hamburger__bar:nth-child(2) {
  opacity: 0;
  transform: scale(0.4); }

.hamburger__container--close .hamburger__bar:nth-child(3) {
  transform: rotate(45deg); }

.hamburger__bar {
  padding: 0;
  margin: 0;
  display: block;
  width: calc(1rem * 1.75);
  height: calc(1rem / 10);
  background: var(--accent);
  border-radius: 3px;
  margin-bottom: calc(1rem / 2);
  opacity: 1;
  transform-origin: right;
  transition-property: transform, opacity;
  transition-duration: 0.4s;
  transition-timing-function: ease; }

.hamburger__bar:last-child {
  margin-bottom: 0; }

.nav__list {
  display: flex;
  justify-content: center;
  align-items: center; }

.nav__list--menu {
  grid-area: menu; }

.nav__list--lang {
  grid-area: lang; }

@media screen and (max-width: 960px) {
  .nav__list {
    flex-direction: column; } }

.nav__item {
  white-space: nowrap;
  margin-right: 3rem;
  position: relative;
  display: inline; }

@media screen and (max-width: 960px) {
  .nav__item {
    margin-right: 0;
    margin-bottom: 3rem; } }

.nav__link {
  color: var(--dark-bg-text); }

.nav__link:after {
  content: ' ';
  opacity: 0;
  position: absolute;
  display: block;
  background: var(--accent);
  height: 3px;
  border-radius: 5px;
  width: 100%;
  top: 30px;
  transition: opacity .2s ease-out; }

.nav__link:hover:after {
  opacity: .3; }

.nav__link--active:after {
  opacity: 1; }

.nav__item:last-child {
  margin-right: 0; }

.hero-container {
  padding: 0;
  height: 100vh;
  background-image: url("../assets/hero-image_compressed.jpg");
  background-repeat: no-repeat;
  background-position: cover;
  background-size: cover;
  position: relative; }

.overlay {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.8); }

.hero__content {
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  padding-top: 6rem;
  padding-bottom: 3rem;
  text-align: center; }

.logo {
  --top-margin: mmin(10vh, 100px)

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin-top: var(--top-margin);
  --width: min(960px, 80vw);
  width: var(--width); }

.logo__text {
  margin-top: 1rem;
  font-size: 150%; }

.scroll-down {
  position: absolute;
  right: 2rem;
  bottom: 2rem;
  font-size: 0.85rem;
  opacity: 0.7;
  transition: opacity .3s ease;
  display: flex;
  flex-flow: column nowrap;
  align-items: center; }

.scroll-down:hover {
  opacity: 1; }

.pistons-icon {
  margin-bottom: .25rem;
  width: 45px;
  height: 45px; }

.section {
  background: var(--light-bg);
  color: var(--light-bg-text); }

.section--dark {
  background: var(--dark-bg);
  color: var(--dark-bg-text); }

.title--lg {
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 10rem; }

.title--sm {
  font-size: 1.25rem; }

.content {
  max-width: var(--max-width);
  margin: 0 auto;
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.content--wide {
  max-width: 90%; }

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start; }

@media screen and (max-width: 960px) {
  .flex-container {
    flex-direction: column;
    align-items: center; } }

.flex-item {
  flex-grow: 1;
  flex: 33.33%;
  padding: 3rem;
  padding-bottom: 0;
  text-align: center; }

@media screen and (max-width: 960px) {
  .flex-item {
    padding: 1rem;
    margin-top: 2rem; } }

.reviews-grid {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-items: center;
  gap: 5rem; }

@media screen and (max-width: 960px) {
  .reviews-grid {
    display: block; } }

.review-container {
  --avatar-size: 60px;
  max-width: 500px;
  display: grid;
  gap: 1rem;
  grid-template-rows: var(--avatar-size) auto;
  grid-template-columns: var(--avatar-size) auto;
  grid-template-areas: 'avatar header' 'content content'; }

@media screen and (max-width: 960px) {
  .review-container {
    margin-bottom: 3rem; }
  .review-container:last-child {
    margin-bottom: 0; } }

.avatar__container {
  grid-area: avatar;
  border-radius: 50%;
  overflow: hidden; }

.avatar__img {
  width: 100%; }

.review__header {
  grid-area: header;
  display: grid;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  font-size: 1.5rem;
  color: var(--light-bg-header); }

.review__meta {
  font-size: 0.8rem;
  color: var(--light-bg-text);
  display: flex;
  justify-content: space-between; }

.review__content {
  grid-area: content;
  margin-top: 0.75rem; }

.bussiness {
  display: grid;
  grid-template-columns: 7fr 3fr;
  grid-template-areas: 'header img';
  justify-content: center;
  align-items: center;
  column-gap: 3rem; }

.bussiness:nth-child(1n) {
  grid-area: header; }

.bussiness:nth-child(2n) {
  grid-area: img; }

@media screen and (max-width: 860px) {
  .bussiness {
    display: block;
    margin: 0 auto;
    text-align: center; }
  .bussiness .spacer {
    margin: 0 auto;
    transform: translateX(-1.5rem); }
  .bussiness .img-container {
    margin: 0 auto; } }

.img-container {
  --size: min(350px, 80vw);
  grid-area: img;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 20px 100px rgba(0, 0, 0, 0.2); }

.img {
  width: 120%;
  transform: translate(-16%, -48%); }

.contact {
  height: 100%;
  padding-bottom: 2rem; }

.contact__grid {
  max-width: var(--max-width);
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100px auto;
  column-gap: 5rem;
  row-gap: 2rem;
  grid-template-areas: 'form_header details_header' 'form details'; }

@media screen and (max-width: 960px) {
  .contact__grid {
    display: block; } }

.contact-details__list {
  margin-bottom: 3rem; }

.contact-details__item {
  display: flex;
  align-items: center;
  margin-bottom: 2rem; }

.contact-details__icon {
  transform: scale(0.9);
  width: 50px;
  margin-left: -10px;
  margin-right: 1rem; }

.title--contact {
  margin-bottom: 0.5rem; }

.form__header {
  grid-area: form_header; }

.form__container {
  grid-area: form;
  padding-top: 3rem; }

.details__header {
  grid-area: details_header; }

.details__content {
  grid-area: details;
  padding-top: 3rem; }

.footer {
  max-width: var(--max-width);
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 5rem;
  padding-bottom: 3rem; }

@media screen and (max-width: 570px) {
  .footer {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr); } }

h1 {
  font-size: 3rem; }

@media only screen and (max-width: 580px) {
  h1 {
    font-size: 2rem; } }

h2 {
  font-size: 2rem; }

p {
  margin-top: 2rem;
  margin-bottom: 2rem;
  line-height: 1.75rem; }
