.btn {
  border: none;
  background: var(--accent);
  color: var(--dark-bg);
  font-weight: 600;
  padding: 1rem 1.5rem;
  border-radius: 3rem;
  cursor: pointer;
  text-transform: uppercase;

  transition: transform .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);

  &:hover {
    text-decoration: none;
  }

  &:focus {
    outline: 1px dotted rgba(255, 255, 0, 0.4);
  }

  &:active {
    transform: scale(0.9);
  }
}